{{ $audit_rating := .rating }} 
{{ $title := .title }} 
{{ $description := .description }}
<div class="insights-audit insights-audit--{{ $audit_rating }}">
  <details class="insights-expandable-details">
    <summary>
      <div class="insights-audit__header insights-expandable-details__summary">
        <span class="insights-audit__score-icon"></span>
        <span class="insights-audit__title">{{ $title }}</span>
        <div class="insights-chevron-container">
          <!-- TODO: chevron should be scoped as ospo instead of insights only -->
          <svg class="insights-chevron" viewbox="0 0 100 100">
            <g class="insights-chevron__lines">
              <path
                class="insights-chevron__line insights-chevron__line-left"
                d="M10 50h40"
              ></path>
              <path
                class="insights-chevron__line insights-chevron__line-right"
                d="M90 50H50"
              ></path>
            </g>
          </svg>
        </div>
      </div>
    </summary>
    <div class="insights-audit__description">
      <span>{{ $description | markdownify }}</span>
    </div>
  </details>
</div>
