{{ define "main" }}
<!-- AGGREGATED SUMMARY CARD -->
<div class="insights-wrapper">
  <div class="insights-card">
    <div class="insights-card__header">
      <h2 class="insights-card__title">{{ .Title }}</h2>
      {{ $score := .Params.score.aggregate }} {{- partial "insights/gauge.html"
      (dict "context" . "score" $score ) -}}
    </div>
    <p>{{ .Description }}</p>
    {{- partial "insights/category-summary" . -}}
  </div>
  <div class="insights-report-wrapper insights-card">
    {{ partial "insights/report-details" . }}
  </div>
</div>
{{ end }}
