// Default button style
.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: var(--ospo-button-border-radius);
  background-color: var(--ospo-button-background-color-primary);
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.7px;

  &:hover,
  &:active {
    color: var(--ospo-button-color);
    background-color: var(--ospo-button-highlight-background-color-primary);
  }
  &.secondary {
    background-color: var(--ospo-button-background-color-secondary);
    &:hover,
    &:active {
      color: var(--ospo-button-color);
      background-color: var(--ospo-button-highlight-background-color-secondary);
    }
  }
  &.tertiary {
    background-color: var(--ospo-button-background-color-secondary);
    &:hover {
      color: var(--ospo-button-color);
      background-color: var(--ospo-button-highlight-background-color-secondary);
    }
    &:active {
      color: var(--color-black);
      background-color: var(--color-white);
    }
  }
}

.button {
  margin-top: 30px;
  margin-bottom: 30px;
  @media (min-width: $screen-lg) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.button + .button {
  margin-top: 0;
  margin-bottom: 30px;
  @media (min-width: $screen-lg) {
    margin-top: 0;
    margin-bottom: 50px;
  }
}
