// Default button style
.button {
  display: inline-block;
  padding: var(--ospo-spacing-md) var(--ospo-spacing-lg);
  border: var(--ospo-border-width-thin) solid var(--ospo-button-border-color);
  text-transform: uppercase;
  text-decoration: none;
  line-height: var(--ospo-font-icon-button-line-height);
  text-align: center;
  letter-spacing: 0.7px;

  &:hover,
  &:active {
    color: var(--ospo-button-highlight-color);
    background-color: var(--ospo-button-highlight-background-color);
  }
}

.button {
  margin-top: var(--ospo-spacing-2xl);
  margin-bottom: var(--ospo-spacing-2xl);
  @media (min-width: $screen-lg) {
    margin-top: var(--ospo-spacing-3xl);
    margin-bottom: var(--ospo-spacing-3xl);
  }
}

.button + .button {
  margin-top: var(--ospo-spacing-none);
  margin-bottom: var(--ospo-spacing-2xl);
  @media (min-width: $screen-lg) {
    margin-top: var(--ospo-spacing-none);
    margin-bottom: var(--ospo-spacing-3xl);
  }
}
