.main-area {
  grid-area: content;
  font-size: var(--ospo-font-body-size-large);
  font-weight: var(--ospo-font-weight-light);
  line-height: var(--ospo-font-body-line-height-large);
}

.side {
  grid-area: sidebar;
}

.main-wrapper hr {
  grid-area: divider;
  border: none;
  background-color: var(--ospo-divider-background-color);
  width: 1px;
  height: 100%;
}

.main-wrapper {
  display: grid;
  gap: var(--ospo-gap-medium);
  grid-template-areas:
    "content"
    "sidebar";
}

@media (min-width: $screen-md) {
  .main-wrapper {
    grid-template-columns: 7fr 2fr 3fr;
    grid-template-areas: "content divider sidebar";
  }
}

.metadata-group {
  padding-top: var(--ospo-spacing-xl);

  // Reset lists.
  ul {
    @extend .ul-reset;
    padding-inline-start: 0;

    li {
      margin-top: var(--ospo-spacing-md);
    }
  }

  .metadata-title {
    text-transform: uppercase;
    font-weight: var(--ospo-font-weight-semibold);
  }

  .sidebar-tag {
    font-size: var(--ospo-font-body-size-large);
    font-weight: var(--ospo-font-weight-light);
    line-height: var(--ospo-font-body-line-height-large);

    &:hover {
      font-weight: var(--ospo-font-weight-semibold);
    }
  }
}
