// Code formatting

// TODO: review the top level css container
//
// Currently it's docs-wrapper which restricts those styles
// to the documentation section of the theme.
.docs-wrapper {
  // Highlighted code.
  .highlight {
    margin: var(--ospo-spacing-2xl) var(--ospo-spacing-none);
    padding: var(--ospo-spacing-none);
    position: relative;

    pre {
      margin: var(--ospo-spacing-none);
      padding: var(--ospo-spacing-lg);
      background-color: var(--ospo-code-highlight-background-color);
      border: var(--ospo-border-width-thin) solid
        var(--ospo-code-highlight-border-color);
      border-radius: var(--ospo-border-radius-medium);
    }
  }
}
