.list-wrapper {
  display: flex;
  flex-direction: column;
}

.columns {
  display: grid;
  row-gap: var(--ospo-gap-xlarge);
  column-gap: 3%;
  grid-template-columns: repeat(12, 1fr);
  margin-top: var(--ospo-spacing-2xl);
  margin-bottom: var(--ospo-spacing-2xl);
}

.columns-2 {
  > * {
    grid-column: span 12;
    @media (min-width: $screen-md) {
      grid-column: span 6;
    }
  }
}

.columns-3 {
  > * {
    grid-column: span 12;
    @media (min-width: $screen-sm) {
      grid-column: span 6;
    }
    @media (min-width: $screen-lg) {
      grid-column: span 4;
    }
  }
}

.columns-4 {
  > * {
    grid-column: span 12;
    @media (min-width: $screen-sm) {
      grid-column: span 6;
    }
    @media (min-width: $screen-lg) {
      grid-column: span 3;
    }
  }
}
