.footer {
  width: 100%;
  padding-top: var(--ospo-spacing-4xl);
  padding-bottom: var(--ospo-spacing-xl);
  @media (min-width: $screen-lg) {
    padding-top: var(--ospo-spacing-6xl);
  }
  background-color: var(--ospo-footer-bg-color);
  color: var(--ospo-footer-link-color);

  // Reset lists.
  ul {
    @extend .ul-reset;
    padding-inline-start: 0;
  }

  .footer-hr {
    opacity: 0.25;
    color: var(--color-black);
    margin-top: var(--ospo-spacing-2xl);
    @media (min-width: $screen-lg) {
      margin-top: var(--ospo-spacing-4xl);
    }
  }

  .logo {
    object-position: 0 0;
    object-fit: contain;
  }

  .logo-link {
    display: none;
    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    font-size: var(--ospo-font-caption-size);
    line-height: var(--ospo-font-caption-line-height);
    letter-spacing: 0.2px;
    p {
      margin: var(--ospo-spacing-none);
    }
  }

  .social-links {
    margin-top: var(--ospo-spacing-none);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    a {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      padding: var(--ospo-spacing-md);
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
