.gauge__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  padding: var(--ospo-score-container-padding);

  /* Contain the layout style paint & layers during animation*/
  contain: content;
  will-change: opacity; /* Only using for layer promotion */

  &--low {
    color: var(--ospo-color-low-secondary);
    fill: var(--ospo-color-low);
    stroke: var(--ospo-color-low);
  }

  &--moderate-low {
    color: var(--ospo-color-moderate-low-secondary);
    fill: var(--ospo-color-moderate-low);
    stroke: var(--ospo-color-moderate-low);
  }

  &--moderate-high {
    color: var(--ospo-color-moderate-high-secondary);
    fill: var(--ospo-color-moderate-high);
    stroke: var(--ospo-color-moderate-high);
  }

  &--high {
    color: var(--ospo-color-high-secondary);
    fill: var(--ospo-color-high);
    stroke: var(--ospo-color-high);
  }
}

.gauge {
  stroke-linecap: round;
  width: var(--ospo-gauge-circle-size);
  height: var(--ospo-gauge-circle-size);
}

.gauge__percentage {
  width: 100%;
  height: var(--ospo-gauge-circle-size);
  line-height: var(--ospo-gauge-circle-size);
  position: absolute;
  font-size: calc(var(--ospo-gauge-circle-size) * 0.34 + 1.3px);
  text-align: center;
  top: var(--ospo-score-container-padding);
}

.gauge__label {
  font-size: var(--ospo-gauge-label-font-size);
  font-weight: var(--ospo-font-weight-regular);
  line-height: var(--ospo-gauge-label-line-height);
  margin-top: 10px;
  text-align: center;
  color: var(--ospo-text-color);
  word-break: keep-all;
}

.gauge-base {
  opacity: 0.1;
}

.gauge-arc {
  fill: none;
  transform-origin: 50% 50%;
}
