.header {
  width: 100%;
  background: var(--ospo-header-background-color);
  z-index: var(--z-index-main-header);
  position: relative;

  &.sticky {
    position: sticky;

    // no sticky header on small screens
    @media (min-width: $screen-md) and (min-height: $screen-height-place-limit) {
      position: relative;
    }
    top: 0;
    left: 0;
    right: 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 20px;
    z-index: 10;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    @media (min-width: $screen-lg) {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.05) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 60px;
    @media (min-width: $screen-lg) {
      height: 80px;
    }
  }

  // Reset lists.
  ul {
    @extend .ul-reset;
  }

  .logo {
    object-position: 0 0;
    object-fit: contain;
    max-width: 100px;
    max-height: 40px;
    @media (min-width: $screen-lg) {
      max-width: 130px;
      max-height: 50px;
    }
  }

  .logo-link {
    display: inline-flex;
  }

  .site-title-link {
    text-decoration: none;
    color: var(--ospo-link-color);
    text-transform: uppercase;
    font-family: var(--ospo-title-font-family);
    font-weight: 700;
    font-size: 20px;
    @media (min-width: $screen-lg) {
      flex-shrink: 0;
      font-size: 22px;
    }
    @media (min-width: $desktop-width) {
      font-size: 28px;
    }
  }
}
