.header {
  width: 100%;
  background: var(--ospo-header-background-color);
  z-index: var(--z-index-main-header);
  border-bottom: var(--ospo-border-width-thin) solid var(--ospo-border-color);

  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    // no sticky header on small screens
    @media (max-width: $screen-sm) and (min-height: $screen-height-place-limit) {
      position: relative;
    }
  }

  > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: var(--ospo-header-height);
    @media (min-width: $screen-lg) {
      height: var(--ospo-header-height-large);
    }
  }

  // Reset lists.
  ul {
    @extend .ul-reset;
  }

  .logo {
    object-position: 0 0;
    object-fit: contain;
    max-width: var(--ospo-size-width-xxsmall);
    max-height: var(--ospo-size-height-xlarge);
    @media (min-width: $screen-lg) {
      max-width: var(--ospo-size-width-xsmall);
      max-height: var(--ospo-size-height-xxlarge);
    }
  }

  .logo-link {
    display: inline-flex;
  }

  .site-title-link {
    text-decoration: none;
    color: var(--ospo-link-color);
    text-transform: uppercase;
    font-family: var(--ospo-font-family-heading);
    font-weight: var(--ospo-font-weight-heading);
    font-size: var(--ospo-font-heading-size-medium);
    @media (min-width: $screen-lg) {
      flex-shrink: 0;
    }
    @media (min-width: $screen-xl) {
      font-size: var(--ospo-font-heading-size-large);
    }
  }
}

.main-menu {
  background-color: var(--color-white);
  padding-left: var(--ospo-spacing-md);
  padding-right: var(--ospo-spacing-md);
  @media (min-width: $screen-sm) {
    padding-left: var(--ospo-spacing-xl);
    padding-right: var(--ospo-spacing-xl);
  }
  @media (min-width: $screen-lg) {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: var(--ospo-spacing-none);
    padding-right: var(--ospo-spacing-none);
    margin-left: clamp(50px, 5vw, 75px);
  }
  @media (max-width: $screen-lg) {
    position: fixed;
    left: -100%;
    top: 60px;
    bottom: 0;
    z-index: var(--z-index-menu, 10);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: var(--ospo-spacing-7xl);
    transition: top 0.5s ease-in-out;
    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
    transform-style: preserve-3d;
    // activate the menu.
    &.is-active {
      left: 0;
    }
  }
  &__wrapper {
    margin-left: var(--ospo-spacing-none); // reset.
    padding-left: var(--ospo-spacing-none); // reset.
    @media (max-width: $screen-lg) {
      padding-top: var(--ospo-spacing-md);
    }
    @media (min-width: $screen-lg) {
      display: flex;
    }
    // All Links.
    a {
      display: block;
      color: var(--ospo-menu-link-color);
      text-decoration: none;
      font-family: var(--ospo-font-family-heading);
      font-size: var(--ospo-font-heading-size-small);
      font-style: normal;
      font-weight: var(--ospo-font-weight-heading);
      line-height: var(--ospo-font-heading-line-height-small);
      letter-spacing: var(--ospo-font-letter-spacing-large);
      transition: color 0.5s ease;
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
      &:hover {
        color: var(--ospo-menu-link-color-hover);
      }
    }

    // All Menu Items.
    .menu-item {
      margin-bottom: var(--ospo-spacing-xl);
      &:last-child {
        margin-bottom: var(--ospo-spacing-none);
      }
      &__description {
        color: var(--color-gray-700);
        display: block;
        font-weight: var(--ospo-font-weight-regular);
        font-size: var(--ospo-font-body-size-small);
        line-height: var(--ospo-font-body-line-height-small);
        margin-top: var(--ospo-spacing-md);
        letter-spacing: var(--ospo-font-letter-spacing-none);
      }
    }
  }

  // Top row only.
  .top-menu-item {
    @media (min-width: $screen-lg) {
      margin-right: var(--ospo-spacing-lg);
    }
    @media (min-width: $screen-xl) {
      margin-right: var(--ospo-spacing-4xl);
    }
    > a {
      padding-top: var(--ospo-spacing-xl);
      padding-bottom: var(--ospo-spacing-xl);
      border-bottom: var(--ospo-border-width-thin) solid var(--color-gray-300);
      padding-right: var(--ospo-spacing-sm);
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      &.is-open {
        border-width: var(--ospo-border-width-thicker);
      }
      @media (min-width: $screen-lg) {
        border-bottom: 0;
      }
    }
  }

  .menu-item-has-children {
    position: relative;
    &.is-open {
      transition: all 0.1s ease-out;
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }

      a::after {
        // opening menu / rotating arrows.
        transition: transform 0.1s ease-in;
        transform: rotate(180deg) translateY(-50%);
        @media (prefers-reduced-motion: reduce) {
          transition: none;
        }
        @media (min-width: $screen-lg) {
          margin-top: var(--ospo-spacing-xs);
        }
      }
    }
    > a {
      @media (min-width: $screen-lg) {
        cursor: default;
      }
      &::after {
        display: inline-block;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.21 1.078l3.395 3 3.395-3' stroke='%23b1b1b1' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
        background-size: 9px;
        height: var(--ospo-icon-size-small);
        width: var(--ospo-icon-size-medium);
        background-repeat: no-repeat;
        transform: rotate(0deg);
        transform-origin: 50% 0%;
        // closing menu.
        transition: all 0.2s ease-out;
        @media (prefers-reduced-motion: reduce) {
          transition: none;
        }
        @media (min-width: $screen-lg) {
          margin-left: var(--ospo-spacing-md);
        }
      }
    }
    // activate pop-out menu, with is-open class or with focus.
    &.is-open .sub-menu,
    &:focus > .sub-menu,
    &:focus-within > .sub-menu {
      opacity: 1;
      visibility: visible;
      overflow: visible;
      height: unset;
    }
  }

  .sub-menu {
    // use JS to show.
    display: none;
    padding-top: var(--ospo-spacing-xl);
    padding-bottom: var(--ospo-spacing-xl);
    @media (min-width: $screen-lg) {
      padding-top: var(--ospo-spacing-lg);
      padding-bottom: var(--ospo-spacing-none);
      display: block;
      // position.
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      z-index: var(--z-index-sub-menu, 20);
      // visiblity.
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      height: 0;
      // style.
      min-width: var(--ospo-size-medium);
    }
    &__nav {
      margin-left: var(--ospo-spacing-none); // reset.
      padding-left: var(--ospo-spacing-none); // reset.
      @media (min-width: $screen-lg) {
        background-color: var(--color-white);
        border-radius: var(--ospo-border-radius-large);
        border: var(--ospo-border-width-thin) solid var(--ospo-border-color);
        box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
          0px 12px 16px -4px rgba(16, 24, 40, 0.08);
        padding: var(--ospo-spacing-lg);
      }
    }
  }

  &__actions-wrapper {
    @media (min-width: $screen-lg) {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
  }
}
