.columns .insights-card {
  max-width: 600px;

  @media (min-width: $screen-xl) {
    transition: transform var(--ospo-card-animation-duration)
      var(--ospo-card-animation-easing);

    /* scaling effect on hover */
    &:hover {
      transform: scale3d(1.025, 1.025, 1);
    }
  }
}

.insights-card {
  border: 1px solid var(--ospo-card-border-color);
  padding: 20px;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1.5rem;
    color: var(--ospo-text-color);
    text-transform: none;
    margin: 0;
  }
}

.insights-categories {
  border: 1px solid var(--ospo-border-color); /* Adds outer border to the categories component */
  border-collapse: collapse;
  width: 100%; /* Make the component span the width of the container */
  font-size: var(--ospo-report-font-size);
}

.category-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: var(
    --ospo-default-padding
  ); /* Adds spacing inside each category row */
  border-bottom: 1px solid var(--ospo-border-color); /* Adds a bottom border between rows */

  &__title {
    min-width: 120px;
    max-width: 230px;
    width: 30%;

    @media only screen and (max-width: $screen-lg) {
      font-size: 12px;
    }
  }

  &__score {
    font-weight: bold;
    color: gray;
    width: 10%;
  }
}

.category-wrapper:last-child {
  border-bottom: none; /* Removes bottom border for the last item */
}

.category-wrapper__progress-bar {
  width: 60%; /* Adjust progress bar to fit in the remaining space */
  height: 8px;
  background-color: var(--ospo-progress-background-color);
  position: relative;
  border-radius: 0; /* Remove the rounded borders */
}

.category-wrapper__progress-bar span {
  display: block;
  height: 100%;
}

.progress {
  &--low {
    background-color: var(--ospo-color-low);
  }

  &--moderate-low {
    background-color: var(--ospo-color-moderate-low);
  }

  &--moderate-high {
    background-color: var(--ospo-color-moderate-high);
  }

  &--high {
    background-color: var(--ospo-color-high);
  }
}

.insights-report-wrapper {
  margin-top: 40px;
}

.insights-report-wrapper h3 {
  text-transform: uppercase;
}

/* AUDIT */

.insights-wrapper {
  --ospo-audit-group-margin-bottom: 48px;
  --ospo-audit-margin-horizontal: 5px;
  --ospo-audit-description-padding-left: calc(
    var(--ospo-score-icon-size) + var(--ospo-score-icon-margin-left) +
      var(--ospo-score-icon-margin-right)
  );
  --ospo-audit-description-padding-right: 10px;
  --chevron-size: 12px;
  --chevron-line-stroke: #757575;
  --ospo-report-line-height: 24px;
  --ospo-score-icon-size: 12px;
  --ospo-score-icon-margin-left: 6px;
  --ospo-score-icon-margin-right: 14px;
  --ospo-score-icon-margin: 0 var(--ospo-score-icon-margin-right) 0
    var(--ospo-score-icon-margin-left);
  --ospo-icon-square-size: calc(var(--ospo-score-icon-size) * 0.88);
}

.insights-report-content {
  padding: var(--ospo-category-padding);
  max-width: var(--ospo-report-content-max-width);
  margin: 0 auto;
}

.insights-category-header {
  margin-bottom: var(--ospo-section-padding-vertical);
}

.insights-category-header .gauge__label {
  --ospo-gauge-label-font-size: var(--ospo-gauge-label-font-size-big);
  --ospo-gauge-label-line-height: var(--ospo-gauge-label-line-height-big);
  margin-top: 14px;
}

.insights-category-header .gauge {
  --ospo-gauge-circle-size: var(--ospo-gauge-circle-size-big);
}

.insights-category-header .gauge__percentage {
  --ospo-gauge-circle-size: var(--ospo-gauge-circle-size-big);
  --ospo-gauge-percentage-font-size: var(--ospo-gauge-percentage-font-size-big);
}

.insights-audit {
  // TODO: custom properties
  border-top: 1px solid var(--ospo-border-color);
  border-bottom: 1px solid var(--ospo-border-color);
}

.insights-audit ~ .insights-audit {
  border-top: none;
}

/* AUDIT GROUP */

.insights-audit-group {
  margin-bottom: var(--ospo-audit-group-margin-bottom);
  position: relative;
}

.insights-audit-group__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insights-audit-group__header {
  letter-spacing: 0.8px;
  padding: var(--ospo-default-padding);
  padding-left: 0;
}

.insights-audit-group__header,
.insights-audit-group__summary {
  font-size: var(--ospo-report-font-size-secondary);
  line-height: var(--ospo-report-line-height-secondary);
  color: var(--color-gray-700);
}

.insights-audit-group__title {
  text-transform: uppercase;
  font-weight: 500;
}

.insights-audit__description {
  padding-left: var(--ospo-audit-description-padding-left);
  padding-right: var(--ospo-audit-description-padding-right);
  padding-top: 8px;
  padding-bottom: 8px;
}

.insights-audit-group__itemcount {
  color: var(--color-gray-600);
}

.insights-audit-group__footer {
  color: var(--color-gray-600);
  display: block;
  margin-top: var(--ospo-default-padding);
}

.insights-category-header__description {
  text-align: center;
  color: var(--color-gray-700);
  margin: 0px auto;
  max-width: 400px;
}

.insights-details,
.insights-category-header__description,
.insights-audit-group__footer {
  font-size: var(--ospo-report-font-size-secondary);
  line-height: var(--ospo-report-line-height-secondary);
}

.insights-audit-explanation {
  margin: var(--audit-padding-vertical) 0
    calc(var(--audit-padding-vertical) / 2) var(--ospo-audit-margin-horizontal);
  line-height: var(--audit-explanation-line-height);
  display: inline-block;
}

.insights-wrapper details > summary {
  /* Blink 89+ and Firefox will hide the arrow when display is changed from (new) default of `list-item` to block.  https://chromestatus.com/feature/6730096436051968*/
  display: block;
}
/* Safari and Blink <=88 require using the -webkit-details-marker selector */
.insights-wrapper details > summary::-webkit-details-marker {
  display: none;
}

/* Expandable Details (Audit Groups, Audits) */
.insights-audit__header {
  display: flex;
  align-items: center;
  padding: var(--ospo-default-padding);
}

.insights-audit__title {
  flex: 1;
}

/* chevron */
.insights-chevron-container {
  margin: 0 var(--ospo-audit-margin-horizontal);
  margin-right: 0;
}

.insights-chevron {
  --chevron-angle: 42deg;
  /* Edge doesn't support transform: rotate(calc(...)), so we define it here */
  --chevron-angle-right: -42deg;
  width: var(--chevron-size);
  height: var(--chevron-size);
  margin-top: calc((var(--ospo-report-line-height) - 12px) / 2);
}

.insights-chevron__lines {
  transition: transform 0.4s;
  transform: translateY(var(--ospo-report-line-height));
}
.insights-chevron__line {
  stroke: var(--chevron-line-stroke);
  stroke-width: var(--chevron-size);
  stroke-linecap: square;
  transform-origin: 50%;
  transform: rotate(var(--chevron-angle));
  transition: transform 300ms, stroke 300ms;
}

.insights-expandable-details .insights-chevron__line-right,
.insights-expandable-details[open] .insights-chevron__line-left {
  transform: rotate(var(--chevron-angle-right));
}

.insights-expandable-details[open] .insights-chevron__line-right {
  transform: rotate(var(--chevron-angle));
}

.insights-expandable-details[open] .insights-chevron__lines {
  transform: translateY(calc(var(--chevron-size) * -1));
}

.insights-expandable-details[open] {
  animation: 300ms openDetails forwards;
  padding-bottom: var(--ospo-default-padding);
}

@keyframes openDetails {
  from {
    outline: 1px solid var(--ospo-report-background-color);
  }
  to {
    outline: 1px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  }
}

@media screen and (max-width: 780px) {
  /* no black outline if we're not confident the entire table can be displayed within bounds */
  .insights-expandable-details[open] {
    animation: none;
  }
}

.insights-expandable-details[open] summary,
details.insights-audit-list > summary {
  border-bottom: 1px solid var(--ospo-border-color);
}
details.insights-audit-list[open] > summary {
  border-bottom-width: 0;
}

details .insights-audit-list-toggletext--hide,
details[open] .insights-audit-list-toggletext--show {
  display: none;
}
details[open] .insights-audit-list-toggletext--hide {
  display: block;
}

.insights-audit__display-text,
.insights-chevron-container {
  margin: 0 var(--ospo-audit-margin-horizontal);
}
.insights-chevron-container {
  margin-right: 0;
}

/* Score */
.insights-audit__score-icon {
  width: var(--ospo-score-icon-size);
  height: var(--ospo-score-icon-size);
  margin: var(--ospo-score-icon-margin);
}

.insights-audit--pass .insights-audit__score-icon {
  border-radius: 100%;
  background: var(--ospo-color-high);
}

.insights-audit--average .insights-audit__score-icon {
  background: var(--ospo-color-moderate-high);
  width: var(--ospo-icon-square-size);
  height: var(--ospo-icon-square-size);
}

.insights-audit--fail .insights-audit__score-icon,
.insights-audit--error .insights-audit__score-icon {
  border-left: calc(var(--ospo-score-icon-size) / 2) solid transparent;
  border-right: calc(var(--ospo-score-icon-size) / 2) solid transparent;
  border-bottom: var(--ospo-score-icon-size) solid var(--ospo-color-low);
}

// TODO: error isn't supported at this time.
.insights-audit--error .insights-audit__score-icon {
  background-image: var(--error-icon-url);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.insights-audit--manual .insights-audit__score-icon,
.insights-audit--notapplicable .insights-audit__score-icon {
  border: calc(0.2 * var(--ospo-score-icon-size)) solid var(--ospo-border-color);
  border-radius: 100%;
  background: none;
}

.insights-audit--informative .insights-audit__score-icon {
  border: calc(0.2 * var(--ospo-score-icon-size)) solid var(--ospo-border-color);
  border-radius: 100%;
}
