.columns .report-card {
  max-width: 600px;
}

.report-card {
  border: 1px solid var(--ospo-card-border-color);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1.5rem;
    color: var(--ospo-text-color);
    text-transform: none;
    margin: 0;
  }
}

.audit-categories {
  border: 1px solid var(--ospo-card-border-color); /* Adds outer border to the categories component */
  border-collapse: collapse;
  width: 100%; /* Make the component span the width of the container */
  font-size: var(--ospo-report-category-font-size);
}

.category-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Adds spacing inside each category row */
  border-bottom: 1px solid var(--ospo-card-border-color); /* Adds a bottom border between rows */
}

.category-wrapper__title {
  min-width: 120px;
  max-width: 230px;
  width: 30%;

  @media only screen and (max-width: $screen-md) {
    .category-wrapper__title {
      font-size: 65%;
    }
  }
}

.category-wrapper__score {
  font-weight: bold;
  color: gray;
}

.category-wrapper:last-child {
  border-bottom: none; /* Removes bottom border for the last item */
}

.category-wrapper__progress-bar {
  width: 60%; /* Adjust progress bar to fit in the remaining space */
  height: 8px;
  background-color: var(--ospo-progress-background-color);
  position: relative;
  border-radius: 0; /* Remove the rounded borders */
}

.category-wrapper__progress-bar span {
  display: block;
  height: 100%;
}

.progress {
  &--low {
    background-color: var(--ospo-color-low);
  }

  &--moderate-low {
    background-color: var(--ospo-color-moderate-low);
  }

  &--moderate-high {
    background-color: var(--ospo-color-moderate-high);
  }

  &--high {
    background-color: var(--ospo-color-high);
  }
}
