// TODO: review the top level css container
//
// Currently it's docs-wrapper which restricts those styles
// to the documentation section of the theme.

.docs-wrapper {
  // Inline code
  p code,
  li > code,
  table code {
    color: inherit;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    word-break: normal;
    background-color: var(--ospo-background-color-muted);
    border-radius: var(--ospo-border-radius-medium);

    br {
      display: none;
    }
  }

  // Highlighted code.
  .highlight {
    margin: var(--ospo-spacing-2xl) var(--ospo-spacing-none);
    padding: var(--ospo-spacing-none);
    position: relative;

    pre {
      margin: var(--ospo-spacing-none);
      padding: var(--ospo-spacing-lg);
      font-size: 85%;
      background-color: var(--ospo-code-highlight-background-color);
      border: var(--ospo-border-width-thin) solid var(--ospo-border-color-muted);
      border-radius: var(--ospo-border-radius-medium);
    }
  }

  table {
    display: table;
    width: 100%;
    font-size: var(--ospo-font-body-size-medium);
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;

    // For mobile (small viewports) we need to fix the table
    // because if the table is larger than the viewport
    // it will force the width of the table causing issues
    // with the header on scroll
    :not(:global(.has-nested-table)) & {
      table-layout: fixed;
    }

    // We want to keep table-layout: auto so that column widths dynamically adjust;
    // otherwise entries get needlessly squashed into narrow columns.
    @media (min-width: $screen-sm) {
      table-layout: auto;
    }

    // Remove zebra striping
    tr:nth-child(2n) {
      background-color: transparent;
    }

    // Make the header sticky
    thead {
      position: sticky;
      top: calc(var(--ospo-header-height) + 1px);
      background: var(--ospo-color-canvas-default);

      @media (min-width: $screen-lg) {
        top: calc(var(--ospo-header-height-large) + 1px) !important;
      }
    }

    tr,
    th,
    td {
      border: none;
    }

    thead th,
    thead td {
      box-shadow: inset 0 -2px var(--ospo-border-color-muted);
    }

    tbody th,
    tbody td {
      box-shadow: inset 0 -1px var(--ospo-border-color-muted);
    }

    tbody tr:last-child th,
    tbody tr:last-child td {
      box-shadow: none;
    }

    th,
    td {
      padding: var(--ospo-content-table-padding-vertical) var(--ospo-spacing-md);
      vertical-align: top;
    }

    th:first-child,
    td:first-child {
      padding-left: var(--ospo-spacing-none);
    }

    pre {
      margin-top: var(--ospo-spacing-xs);
    }

    p:last-child {
      margin-bottom: var(--ospo-spacing-none);
    }
  }

  blockquote {
    p {
      margin-top: var(--ospo-spacing-none);
    }

    p:last-child {
      margin-bottom: var(--ospo-spacing-none);
    }
  }

  .alert {
    --ospo-alert-background-color: transparent;
    --ospo-alert-border-color: var(--ospo-border-color-muted);
    --ospo-alert-border-left: var(--ospo-border-width-thicker) solid
      var(--ospo-alert-border-color);
    --ospo-alert-padding-x: var(--ospo-spacing-lg);
    --ospo-alert-padding-y: var(--ospo-spacing-md);
    --ospo-alert-margin-x: var(--ospo-spacing-none);
    --ospo-alert-margin-y: var(--ospo-spacing-lg);

    background-color: var(--ospo-alert-background-color);
    border-left: var(--ospo-alert-border-left);
    margin: var(--ospo-alert-margin-y) var(--ospo-alert-margin-x);
    padding: var(--ospo-alert-padding-y) var(--ospo-alert-padding-x);
  }

  .alert-heading {
    --ospo-alert-heading-font-weight: var(--ospo-font-weight-medium);
    --ospo-alert-heading-color: inherit;

    color: var(--ospo-alert-heading-color);
    font-weight: var(--ospo-alert-heading-font-weight);
  }

  // Generate contextual modifier classes for colorizing the alert heading and border
  @each $type in map-keys($alert-types) {
    .alert-#{$type} {
      --ospo-alert-heading-color: var(--ospo-#{$type}-text-emphasis);
      --ospo-alert-border-color: var(--ospo-#{$type}-border-subtle);
    }
  }
}
