// General rules of typography that apply across the whole website.
// Set body size.
body {
  font-size: 0.875em; // 14px.
  @media (min-width: 500px) {
    font-size: 1em; // 16px.
  }
  font-weight: 400;
  color: var(--ospo-text-color);
  font-family: var(--ospo-body-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-family: var(--ospo-title-font-family);
  margin-block-start: 70px;
  margin-block-end: 50px;
  @media (min-width: $desktop-width) {
    margin-block-start: 100px;
    margin-block-end: 80px;
  }
}

h1,
.h1 {
  font-family: var(--ospo-title-font-family);
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;
  line-height: 112.2%;
  font-size: 44px;
  @media (min-width: $screen-lg) {
    line-height: 115%;
    font-size: 80px;
  }
}

h2,
.h2 {
  font-family: var(--ospo-title-font-family);
  font-weight: 700;
  color: var(--color-gray-400);
  text-transform: uppercase;
  line-height: 120%;
  font-size: 34px;
  margin-block-start: 50px;
  margin-block-end: 30px;
  @media (min-width: $screen-lg) {
    line-height: 115%;
    font-size: 40px;
  }
}

p + p,
ul + p,
ol + p {
  margin-top: 24px;
}

a {
  font-weight: 700;
  color: var(--ospo-link-color);
  &:hover {
    color: var(--ospo-link-highlight-color);
  }
}
