<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    {{- partialCached "accessibility.html" . -}}
    {{- partial "header.html" . -}}
    <section id="content" class="container wrap">
      <header>
        <h1>{{ .Title }}</h1>
      </header>
      <main>{{ block "main" . }}{{ end }}</main>
    </section>
    {{- partialCached "footer.html" . "global" -}}
  </body>
</html>
