{{ define "main" }} {{ .Content }}
<div class="columns columns-2">
  {{ range .Pages }}
  <div class="report-card">
    <div class="report-card__header">
      <h2 class="report-card__title">{{ .Title }}</h2>
      {{ $score := .Params.score.aggregate }}
      {{ partial "observatory/gauge.html" (dict "context" . "score" $score ) }}
    </div>
    <p>{{ .Description }}</p>
    <div class="card__actions-primary-action">
      <a href="{{ .Permalink }}" class="card__action"></a>
    </div>
    {{- partial "observatory/category-summary" . -}}
  </div>
  {{ end }}
</div>
{{ end }}
