{{ define "main" }}
<!-- AGGREGATED SUMMARY CARD -->
<div class="observability-details-wrapper">
  <div class="report-card">
    <div class="report-card__header">
      <h2 class="report-card__title">{{ .Title }}</h2>
      {{- partial "observatory/gauge.html" . -}}
    </div>
    <p>{{ .Description }}</p>
    {{- partial "observatory/category-summary" . -}}
  </div>
  <div>
    <!-- REPOSITORIES OVERVIEW TABLE -->
    <h3>Repositories</h3>
    {{ $repositories := .Params.repositories }}
    {{/* A summary is displayed in case there are several repositories in this group */}}
    {{ if and $repositories (gt ($repositories | len) 1) }}
    <table class="repositories-summary">
      <thead>
        <tr>
          <th scope="col">♯Repository</th>
          <th scope="col">🏆 Global</th>
          <th scope="col">📄 Documentation</th>
          <th scope="col">🔑 License</th>
          <th scope="col">⚙️ Best Practices</th>
          <th scope="col">🔒 Security</th>
          <th scope="col">⚖️ Legal</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Params.repositories }}
          <tr>
            <th scope="row">{{ .name }}</th>
            <td>{{ float .score.global | printf "%.0f" | default "n/a" }}</td>
            <td>{{ float .score.documentation | printf "%.0f" | default "n/a" }}</td>
            <td>{{ float .score.license | printf "%.0f" | default "n/a" }}</td>
            <td>{{ float .score.best_practices | printf "%.0f" | default "n/a" }} </td>
            <td>{{ float .score.security | printf "%.0f" | default "n/a" }}</td>
            <td>{{ float .score.legal | printf "%.0f" | default "n/a" }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
    {{ end }}
    
    <!-- REPOSITORIES AUDIT -- START  -->


    <!-- REPOSITORY REPORT  -->

    <!-- AUDIT REPORT: SCORE -->

    <!-- AUDIT REPORT: DOCUMENTATION -->

    <!-- AUDIT REPORT: LICENSING -->

    <!-- AUDIT REPORT: BEST PRACTICES -->

    <!-- AUDIT REPORT: SECURITY -->

    <!-- AUDIT REPORT: LEGAL -->

    <!-- REPOSITORIES AUDIT -- START  -->
  </div>
</div>
{{ end }}
