<div class="sidebar-metadata">
  {{ $page := . }} 
  {{ $metadata_groups := slice "categories" "languages" "tags" }} 
  {{ range $metadata_groups }} 
  {{ $group := . }} 
    {{ with $page.GetTerms $group }}
    <div class="metadata-group">
      <span class="metadata-title">{{ $group }}</span>
      <ul>
        {{ range . }}
        <li>
          <a class="sidebar-tag" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }} 
  {{ end }}
</div>
