{{
  $categories := slice
    (dict "name" "📄 Documentation" "score" .Params.score.documentation)
    (dict "name" "🔑 License" "score" .Params.score.license)
    (dict "name" "⚙️ Best Practices" "score" .Params.score.practices)
    (dict "name" "🔒 Security" "score" .Params.score.security)
    (dict "name" "⚖️ Legal" "score" .Params.score.legal)
}}
<div class="audit-categories">
  {{ range $categories }}
  {{ $scale := partial "observatory/get-score-scale.html" .score }}
  <div class="category-wrapper">
    <div class="category-wrapper__title">
      <span>{{ .name }}</span>
    </div>
    <span class="category-wrapper__score">{{ .score }}</span>
    <div class="category-wrapper__progress-bar">
      <span class="progress--{{ $scale }}" style="width: {{ .score }}%"></span>
    </div>
  </div>
  {{ end }}
</div>
