{{ range .Params.repositories }} 
  {{ $audit_categories := partial "observatory/get-grouped-audits.html" . }} 
  {{ range $audit_categories }}
      <div class="o9y-report-content">
        <div class="o9y-category-header">
          <div class="o9y-score__gauge">
            <!-- TODO: Adapt data structure to provide category information -->
            {{ partial "observatory/gauge.html" (dict "score" .score "label" .category) }}
          </div>
          <div class="o9y-category-header__description">{{ .description }}</div>
        </div>
        {{ partial "observatory/audit-group.html" .audit_groups }}
      </div>
  {{ end }} 
{{ end }}
