{{ define "main" }} {{ .Content }}
<div class="columns columns-3">
  {{ range .Pages }}
  <div class="card">
    <div class="card__content">
      <span class="card__kicker">{{ .Params.org_name }}</span>
      <h4 class="card__title">{{ .Title }}</h4>
      <p class="card__description">{{ .Description }}</p>
      <div class="card__links-container">
        <a href="{{ .Params.repository }}" class="card__link" target="_blank">
          <img loading="lazy" width="16" height="16" src="{{
          "images/icons/repository.svg" | relURL }}" alt="Source repository
          icon">
        </a>
        <a href="{{ .Params.website }}" class="card__link" target="_blank">
          <img loading="lazy" width="16" height="16" src="{{
          "images/icons/up-right-from-square.svg" | relURL }}" alt="Go to
          website icon">
        </a>
        <a href="{{ .Permalink }}" class="card__link">
          <img loading="lazy" width="16" height="16" src="{{
          "images/icons/arrow-right.svg" | relURL }}" alt="See details icon">
        </a>
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
